<!doctype html>
<html>
    <head>
        <title></title>
        <link rel="stylesheet" href="index.css">
    </head>
<body>
    <div id="top-panel" class="grid px-4 md:px-8 lg:px-12 h-12 items-center justify-between shadow" style="grid-template-columns: 1fr 2fr 1fr;">
        <div id="top-panel-items" class="flex">
            <a class="center-x-y" href="index.html">
                <img id="back-btn" src="https://raw.githubusercontent.com/FortAwesome/Font-Awesome/adb2273bdbff7abeff8f16dbde9e88722827f356/svgs/solid/arrow-left.svg" class="text-gray-700">
            </a> 
        </div>
    </div>
    <div id="cart-page">
        <h1>My Cart</h1>
        <table>
            <thead>
                <tr>
                    <th>Print Size</th>
                    <th>Quantity</th>
                    <th>Price</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="item in cart" v-if="item.quantity > 0" :key="item.size">
                    <td>{{ item.size }}</td>
                    <td>{{ item.quantity }}</td>
                    <td>${{ item.price }}</td>
                </tr>
            </tbody>
        </table>
        <h2 v-if="cart.totalCost > 0">Total: ${{ cart.totalCost }}</h2>
        <p v-else>Your cart is empty</p>
    </div>
    <script src="index.js"></script>
    <script src="Vue.js"></script>
</body>
</html>